RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

AuthName "Login=admin password=admin"
AuthUserFile C:/xampp/htdocs/BookCatalogue/admin/.htpasswd
AuthType Basic
require valid-user